<div class="container mx-auto p-4 relative">
  <!-- Sorting Controls -->
  <app-sorting
    [sortBy]="sortBy"
    [sortOrder]="sortOrder"
    (onSort)="applySorting($event)"
  ></app-sorting>

  <div class="w-full transition-all duration-300">
    <!-- Trip of the Day -->
    <div
      *ngIf="isTripOfTheDayVisible"
      class="flex justify-center items-center w-full"
    >
      <app-trip-of-the-day
        [tripOfTheDay$]="tripOfTheDay$"
        (reload)="getTripOfTheDay()"
        (viewDetails)="viewTripDetails($event)"
      ></app-trip-of-the-day>
    </div>

    <!-- Trips List -->
    <app-list-trips
      [trips$]="trips$"
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (onPageChange)="changePage($event)"
      (onViewDetails)="viewTripDetails($event)"
    ></app-list-trips>

    <!-- "Trip of the Day" Button -->
    <button
      class="fixed bottom-20 right-28 btn-secondary rounded-full shadow-lg transition flex items-center space-x-2"
      (click)="toggleTripOfTheDay()"
    >
      <img src="/assets/trip.svg" alt="Trip Icon" class="w-8 h-8" />
      <span>Trip of the Day</span>
    </button>

    <!-- Loading Indicator -->
    <div *ngIf="loading$ | async" class="loading-indicator">
      Loading trips...
    </div>

    <!-- Error Message -->
    <div *ngIf="error$ | async as error" class="error">{{ error }}</div>
  </div>
</div>
