<div class="container mx-auto p-4 relative">
    <!-- Loading Indicator -->
    <div *ngIf="loading$ | async" class="loading-indicator">Loading trips...</div>
  
    <!-- Error Message -->
    <div *ngIf="error$ | async as error" class="error">{{ error }}</div>
  
    <!-- Sorting Controls -->
     <div class="flex justify-end">
    <app-sorting (onSort)="applySorting($event.sortBy, $event.sortOrder)"></app-sorting></div>
  
    <!-- Content Wrapper -->
    <div class="flex">

      <!-- Trips List -->
      <div
        class="grid gap-6 w-full transition-all duration-300"
      >
         <!-- Trip of the Day -->
         <div
         *ngIf="isTripOfTheDayVisible"
         class="flex justify-center items-center w-full"
       >
         <div class="w-1/3 bg-white p-4 shadow-lg rounded-lg transition-all duration-300">
           <app-trip-of-the-day
             [tripOfTheDay$]="tripOfTheDay$"
             (reload)="getTripOfTheDay()"
           ></app-trip-of-the-day>
         </div>
       </div>
        <app-list-trips
          [trips$]="trips$"
          [currentPage]="currentPage" 
          [totalPages]="totalPages"
          (onPageChange)="changePage($event)"
          (onViewDetails)="viewTripDetails($event)"
        ></app-list-trips>
      </div>
  
   
    </div>
  
    <!-- "Trip of the Day" Button -->
    <button
      class="fixed bottom-20 right-4 bg-blue-600 text-white px-6 py-3 rounded-full shadow-lg hover:bg-blue-700 transition"
      (click)="toggleTripOfTheDay()"
    >
      Trip of the Day
    </button>
  </div>
  